body {
    background-color: ivory;
    color: #373737;
}

h1 {
    font-size: 32px;
    font-family: 'Cardo', Serif;

}

h2 {
    font-size: 24px;
    font-family: 'Cardo', Serif;
}

p {
    font-size: 16px;
    font-family: 'Ubuntu', 'Monsterrat', sans-serif;
}