@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto|Ubuntu|Ubuntu+Condensed|Ubuntu+Mono&display=swap');

:root {
    --serif-fonts: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

body {
background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h2 {
    font-family: var(--serif-fonts);
    font-size: 24px;
    text-align: center;
    font-weight: normal;
    text-decoration: underline;
}

#wrapper {
    font-family: var(--serif-fonts);
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: #040305;
    border: solid thin #361DCC;
    padding: 5px;
}

#heading {
    width: 950px;
    font-family: var(--serif-fonts);
    font-size: 36px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: inherit;
    text-align: center;
}

#links {
    border: solid thin #361DCC;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    font-size 16px;
    font-family: var(--serif-fonts);
    background-color: #361DCC;
    color: ivory;

}

#body {
    width: 705px;
    float: left;
    background-color: azure;
    font-family: Ubuntu, "Roboto Light", Monsterrat, Verdana, SansSerif;
    font-size: 16px;
    border: solid thin #040305;
}

#news {
    width: 250px;
    float: right;
    border: solid thin #361DCC;
    background-color: coral;
    font-size: 12px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}

.clear {
    clear: both;
    overflow: visible;
}